<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Login Page</h1>
<div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <button onclick="save_data()">Submit</button>
</div>
<script>
function save_data() {
    <!-- get_username and get_password will give you details of user input data-->
  var user_name = document.getElementsByName("username");
  var password = document.getElementsByName("password");
  var get_username = "";
  var get_password = "";
  for (var index = 0; index < user_name.length; index++) {
    get_username = get_username + user_name[index].value;
};
  for (var index = 0; index < password.length; index++) {
    get_password = get_password + password[index].value;
};
}
</script>
</body>
</html>